@model PoliceCrimeExplorer.ViewModels.PoliceDataUpdateViewModel

@{
    ViewData["Title"] = "Home Page";
}

<link href="~/flatpickr/flatpickr.min.css" rel="stylesheet" />
<link href="~/flatpickr/ie.min.css" rel="stylesheet" />
<link href="~/flatpickr/plugins/confirmDate/confirmDate.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/flatpickr/flatpickr.min.js"></script>
<script src="~/flatpickr/plugins/confirmDate/confirmDate.min.js"></script>

<style>
    .flatpickr-weekdays,
    .flatpickr-day,
    .flatpickr-calendar {
        display: none;
    }
</style>



<link href="https://cdn.datatables.net/v/dt/dt-2.0.2/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/dt/dt-2.0.2/datatables.min.js"></script>


<div class="text-center">
    <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px;">
        <input type="text" id="latitudeGpsCord" placeholder="Enter Latitude" />
        <input type="text" id="longitudeGpsCord" placeholder="Enter longitude" />
        <input class="flatpickr flatpickr-input" id="myDateInput" placeholder="Select a date" style="width: auto;">
    </div>

    <button type="submit" id="updateTableButton" style="margin-top: 10px;">Search</button>

    <table id="myTable">
        <!-- Your table rows and cells -->
    </table>


    <table id="table_grouped_crimes" class="ui olive celled table">
        <thead>
            <tr>
                <th style="width:50%;"><font>Crime Name</font></th>
                <th style="width:50%;"><font>Crime Amount</font></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<script>
    var groupedCrimesTable;

    groupedCrimesTable = $("#table_grouped_crimes").DataTable({
        "deferRender": true
    });

    $(document).ready(function () {
        const flatpickrInstance = flatpickr($('#myDateInput'), {
            dateFormat: 'Y-m', // Display dates in YYYY-MM format
            altInput: true, // Show a more user-friendly date format
            altFormat: 'F Y', // Display dates like "January 2023"
            monthSelectorType: 'dropdown', // Enables month selection
        });


        $('#updateTableButton').click(function () {
            groupedCrimesTable.clear();

            var latitudeGpsCord = $('#latitudeGpsCord').val();

            var longitudeGpsCord = $('#longitudeGpsCord').val();

            // Regular expressions for latitude and longitude
            var latRegex = /^(\+|-)?(?:90(?:(?:\.0{1,6})?)|(?:[0-9]|[1-8][0-9])(?:(?:\.[0-9]{1,6})?))$/;
            var lonRegex = /^(\+|-)?(?:180(?:(?:\.0{1,6})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\.[0-9]{1,6})?))$/;

            if (!latRegex.test(latitudeGpsCord) || !lonRegex.test(longitudeGpsCord)) {
                alert('Please enter valid GPS coordinates.');
                return;
            }

            var searchDate = flatpickrInstance.selectedDates[0];

            if (searchDate === undefined || latitudeGpsCord === "" || longitudeGpsCord === "") {
                alert('Ensure GPS cords and a date is selected.');
                return;
            }

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetPoliceStreetCrimeDataInLocation", "Home")', // Replace with your actual action URL
                data: {
                    latitudeGpsCord: latitudeGpsCord,
                    longitudeGpsCord: longitudeGpsCord,
                    searchDate: searchDate.toISOString()
                },
                dataType: 'json',
                success: function (data) {
                    // Update the table with the received data
                    // Example: Assuming your table has an ID 'myTable'
                    $('#myTable').html(data); // Replace with your logic
                },
                error: function (data) {
                    alert('Error fetching data from API.');
                }
            });
        });
    });
</script>
